<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Programs
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-program">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let program of programs" class="program">
    <h2>{{ program.name }}</h2>
    <ul>
      <li *ngFor="let exercise of program.exercises" class="exercise-item">
        <div class="exercise-info">
          <strong>{{ exercise.exercise.name }}</strong> - 
          {{ exercise.sets }} sets x {{ exercise.reps }} reps at {{ exercise.charge }} kg
          <br />
          Muscles travaillés : {{ exercise.exercise.muscles.join(', ') }}
        </div>
        <img [src]="exercise.exercise.image" alt="{{ exercise.exercise.name }}" class="exercise-image" />
      </li>
    </ul>
  </div>
</ion-content>