.exercise {
    display: flex;
    flex-direction: column;
    gap: 1rem; // Espace entre les sections
  
    ion-item {
      margin-bottom: 0.5rem;
    }
  
    .exercise-header {
      width: 100%; // Nom de l'exercice prend toute la ligne
    }
  
    .exercise-details {
      display: flex;
      gap: 1rem; // Espacement entre les champs "Sets", "Reps", et "Charge"
  
      ion-item {
        flex: 1; // Chaque champ prend une part égale
      }
    }
  }

  ion-content {
    position: relative;
  
    .submit {
      position: absolute;
      right: 16px;
      bottom: 85px;
    }
  }
